.page-content {
  display: flex;
}

.info-box {

    position: absolute;
    z-index: 50;
    opacity: 0.75;
    text-align: center;
    width: 60%;
    height: 60%;
    margin-left: 10%;
    margin-top: 10%;

}
