.grid-square {
    height: 10vh;
    width: 100vw;
    font-size: 3rem;
}

.diatomic {
    background-color: green;
}

.noble {
    background-color: lightblue;
}

.alkali {
    background-color: orange;
}

.alkaline {
    background-color: yellow;
}

.metalloid {
    background-color: blue;
}

.polyatomic {
    background-color: darkslategray;
}

.transition {
    background-color: lightsalmon;
}

.post-transition {
    background-color: rgb(250, 115, 70);
}

.lanthanide {
    background-color: MEDIUMSLATEBLUE
}

.actinide {
    background-color: firebrick;
}

button {
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0.7s;
    cursor:pointer;
}


button:hover {
    transform: scale(2.0) rotateZ(360deg);
}


.chemical-symbol{
  color: ivory;
  font-size: 1vw;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

