.grid-square {
    height: 100%;
    width: 100vw;
    font-size: 3vw;
}

button {
    background-color: grey;
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0.7s;
    cursor:pointer;
}

button:active {
    transform: scale(3.0) rotateZ(720deg);
    background-color: rgb(51, 1, 255);

}

