ul, li {
    text-align: left;
    list-style: none;
    line-height: 300%;


}

.element-info {
    font-size: 1vw;
    padding-top: 15%;
    height: 100%;
    width: 100%;

}

h1{
  margin-top: 1px;
}

.info-box{
  background-color: darkslategrey;
  color: white;
  overflow: scroll;
  height: 100%;
  width: 100%;

}

  .close{
    height: 20px;
    width: 20px;
  display:flex;
  color: blue;
  float: right !important;
  margin-top: 0 !important;
  text-align: center !important;


}
