ul, li {
  text-align: left;
  list-style: none;
  line-height: 300%;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-weight: bold;
  font-size: 25px;
}

li.a{
  color: white;
}

.element-info {
  font-size: 1vw;
  padding-top: 5%;
  height: inherit;
  width: inherit;
}

.info-box{
  background-color: mediumseagreen;
  color: black;
  position: absolute;
  z-index: 50;
  opacity: 0.9;
  text-align: center;
  width: 75%;
  height: 75%;
  overflow: scroll;

}

.close{
  height: 20px;
  width: 20px;
  color: black;
  float: right !important;
  transform: none !important;
  background-color: transparent;
  justify-content: center;
  display: inline-block;
  font-size: 35px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  padding: 15px 32px;
  border: goldenrod;
  text-align: center;
}

.close{
  color: white;
}
