h1{
  color: ivory;
  font-weight: bold;
  font-size: 100px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2{

  color: ivory;
  font-weight: bold;
  font-size: 90px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


ul, li {
  text-align: center;
  list-style: none;
  line-height: 300%;
  text-shadow: -1px 0 lavender, 0 1px lavender, 1px 0 lavender, 0 -1px lavender;
  font-weight: bold;
  font-size: 30px;
}

li.a{
  color: white;
}

.element-info {
  font-size: 1vw;
  padding-top: 5%;
  height: inherit;
  width: inherit;
}

.info-box{
  /* background-color: mediumseagreen; */
  color: black;
  position: absolute;
  z-index: 50;
  opacity: 0.9;
  text-align: center;
  align-content: center;
  width: 75%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: auto;
  border: 8px solid black;
  background-size: full;
}

.info-box ul {
  margin: 0;
}

.close{
  height: 20px;
  width: 20px;
  color: white;
  /* padding-right: 50px; */
  transform: none !important;
  background-color: transparent;
  border: transparent;
  font-size: 35px !important;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  /* padding: 15px 32px; */
  margin: 0;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-right: 15px;
  float: right;
}

.info-top-banner{
  justify-content: space-around;
  align-content: center;
}

.diatomic {
  background-color: green;
}

.noble {
  background-color: lightblue;
}

.alkali {
  background-color: orange;
}

.alkaline {
  background-color: yellow;
}

.metalloid {
  background-color: blue;
}

.polyatomic {
  background-color: darkslategray;
}

.transition {
  background-color: lightsalmon;
}

.post-transition {
  background-color: rgb(250, 115, 70);
}

.lanthanide {
  background-color: MEDIUMSLATEBLUE
}

.actinide {
  background-color: firebrick;
}
